.nav-bar {
  background-color: #9c27b0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  color: #f3ebf6;
  text-transform: uppercase;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}

.header {
  padding-left: 50px;
  cursor: alias;
  flex: 10;
}

.sign-out {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding-top: 2vh;
  padding-bottom: 2vh;
  flex: 1;
}

.sign-out:hover {
  background-color: #650875;
}
