.Layout-Page {
  font-family: "Ubuntu", sans-serif;
}

.catagories {
  display: flex;
  justify-content: space-around;
}

.footer-elements {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #ffffff;
}
